@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container-active {
  margin-left: 260px;
  transition: margin-left 0.4s ease-in;
}

.container-false {
  margin-left: 98px;
  transition: margin-left 0.5s ease-out;
}
